@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center">EMBEDDING PBI DASHBOARDS,TILES AND REPORTS</h2>
    <p class="lead">Power BI offers APIs for embedding your dashboards and reports into applications. The Power BI APIs offer a consistent set of capabilities and access to the latest Power BI features – such as dashboards, gateways and app workspaces – when embedding content.

  <p style="text-align:center"><a href="https://docs.microsoft.com/en-us/power-bi/developer/embedding" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Embedding DashBoards</h2>
        <p>
            Integrate a Power BI dashboard enables application developers to integrate Power BI dashboards from a user's power BI account by embedding an IFrame into an app, such as a mobile app or web app.To integrate a dashboard into a web app, you use the Power BI REST API, or the Power BI C# SDK, and an Azure Active Directory (AD) authorization access token to get a dashboard. Then, you load the dashboard using the same access token. The Power BI API provides programmatic access to certain Power BI resources.
        </p>
        <p style="text-align:center"><a class="btn btn-default" href="https://docs.microsoft.com/en-us/power-bi/developer/integrate-dashboard">More-About Dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Embedding Report</h2>
        <p>Integrate a Power BI report enables application developers to integrate Power BI reports from a user's power BI account by embedding an IFrame into an app, such as a mobile app or web app.To integrate a report into a web app, you use the Power BI REST API, or the Power BI C# SDK, and an Azure Active Directory (AD) authorization access token to get a report. Then, you load the report using the same access token. The Power BI API provides programmatic access to certain Power BI resources.</p>
        <p style="text-align:center"><a class="btn btn-default" href="https://docs.microsoft.com/en-us/power-bi/developer/integrate-report">More-Embedding Report &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Embedding Tile</h2>
        <p>Integrate a Power BI tile enables application developers to integrate Power BI tiles from a user's power BI account by embedding an IFrame into an app, such as a mobile app or web app.To integrate a tile into a web app, you use the Power BI REST API, or the Power BI C# SDK, and an Azure Active Directory (AD) authorization access token to get a tile. Then, you load the tile using the same access token. The Power BI API provides programmatic access to certain Power BI resources.</p>
        <p style="text-align:center"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">More-Embedding Tile &raquo;</a></p>
    </div>
</div>